<h1 class="animate-in" data-anim-type="fade-in">E N G L A N D</h1>
<nav>
  <%= render partial: 'shared/navbar'  %>
</nav>



<a href="161H.jpg" data-lightbox="test"><%= image_tag "img/161H.jpg", :class => "carousel-img" %></a>
<a href="img/162H.jpg" data-lightbox="test"><%= image_tag "img/162H.jpg", :class => "carousel-img" %></a>
<a href="img/164H.jpg" data-lightbox="test"><%= image_tag "img/164H.jpg", :class => "carousel-img" %></a>
<a href="img/167H.jpg" data-lightbox="test"><%= image_tag "img/167H.jpg", :class => "carousel-img" %></a>



