<div id="banner_map">
  <%= image_tag "worldmap.jpg", :class => "banner" %>
  <div id="banner_cover_layer">  
  </div>
<div id="banner_cover_txt">
  <h1>Travelography</h1>
</div>
</div>


<nav>
  <%= render partial: 'shared/navbar'  %>
</nav>

<ul class="bxslider">
  <li><%= image_tag "test_france.jpg", :class => "carousel-img" %></li>
  <li><%= image_tag "test_spain.jpg", :class => "carousel-img" %></li>
  <li><%= image_tag "test_wales.jpg", :class => "carousel-img" %></li>
</ul>

<div id="social_media_contacts">
  
</div>