<div id="banner_map">
  <%= image_tag "worldmap.jpg", :class => "banner" %>
  <div id="banner_cover_layer">  
  </div>
<div id="banner_cover_txt">
  <h1>Travelography</h1>
</div>
</div>


<nav>
  <%= render partial: 'shared/navbar'  %>
</nav>

<ul class="bxslider">
  <li><%= image_tag "test_france.jpg", :class => "carousel-img" %></li>
  <li><%= image_tag "test_spain.jpg", :class => "carousel-img" %></li>
  <li><%= image_tag "test_wales.jpg", :class => "carousel-img" %></li>
</ul>

<div id="social_media_contacts">
  <ul id="social_media_ul">
    <li><a href="https://www.facebook.com/bae.annie" target="_blank"><%= image_tag "social_media_icons/facebook.png", :class => "social_media_icon" %></a></li>
    <li><a href="http://a-baebae.tumblr.com/" target="_blank"><%= image_tag "social_media_icons/tumblr.png", :class => "social_media_icon" %></a></li>
    <li><a href="https://twitter.com/bae_annie" target="_blank"><%= image_tag "social_media_icons/twitter.png", :class => "social_media_icon" %></a></li>
    <li><a href="http://instagram.com/anniebae" target="_blank"><%= image_tag "social_media_icons/instagram.png", :class => "social_media_icon" %></a></li>
    <li><a href="http://abaebae.blogspot.com/" target="_blank"><%= image_tag "social_media_icons/blogger.png", :class => "social_media_icon" %></a></li>
    <li><a href="https://www.linkedin.com/in/anniebae" target="_blank"><%= image_tag "social_media_icons/linkedin.png", :class => "social_media_icon" %></a></li>
  </ul>
</div>